@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 29% 96%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 207 88% 68%;
    --primary-foreground: 215 28% 17%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 20% 90%;
    --muted-foreground: 215 20% 45%;
    --accent: 124 39% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 0 0% 100%;
    --ring: 207 88% 68%;
    --chart-1: 207 88% 68%;
    --chart-2: 124 39% 64%;
    --chart-3: 27 87% 67%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --radius: 0.8rem;

    --sidebar-background: 215 28% 17%;
    --sidebar-foreground: 210 20% 80%;
    --sidebar-primary: 207 88% 68%;
    --sidebar-primary-foreground: 215 28% 17%;
    --sidebar-accent: 215 28% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 28% 25%;
    --sidebar-ring: 207 88% 68%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 210 29% 96%;
    --card: 215 28% 20%;
    --card-foreground: 210 29% 96%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 29% 96%;
    --primary: 207 88% 68%;
    --primary-foreground: 215 28% 17%;
    --secondary: 215 28% 25%;
    --secondary-foreground: 210 29% 96%;
    --muted: 215 28% 25%;
    --muted-foreground: 210 20% 80%;
    --accent: 124 39% 64%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 207 88% 68%;

    --sidebar-background: 215 28% 14%;
    --sidebar-foreground: 210 20% 80%;
    --sidebar-primary: 207 88% 68%;
    --sidebar-primary-foreground: 215 28% 17%;
    --sidebar-accent: 215 28% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 28% 20%;
    --sidebar-ring: 207 88% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
